<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

<session-factory>
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/student_sport</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>

<!-- select data base -->
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<!-- use second cache level  -->
<property name="cache.use_second_level_cache">true</property>
<property name="cache.use_query_cache">true</property>
<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>

<!-- show sql code  -->
<property name="show_sql">true</property>

<property name="hbm2ddl.auto">update</property>

<mapping class="am.chronograph.testing_hibernate.UserDetails"/> 
<mapping class="am.chronograph.testing_hibernate.UserDetailsTest"/> 
<mapping class="am.chronograph.testing_hibernate.Vehicle"/> 
<mapping class="am.chronograph.testing_hibernate.TwoWheeler"/> 
<mapping class="am.chronograph.testing_hibernate.FourWheeler"/> 



</session-factory>

</hibernate-configuration>